
:root{
    --font-titulo: 'Merriweather', serif;
    --font-texto: 'IBM Plex Sans', sans-serif;
    --main-color: #E5E5E5;
    --second-color: #FFFFFF;
    --color-titulo: #151A46;
    --color-inputT: #FAFAFF;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content-principal{
    z-index: 1;
    border-radius: 20px;
    margin-top: 3rem;
    background-color: var(--second-color);
    max-width: 1027px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-left: 110px;
    position: relative;
}
.content-behind{
    z-index: -2;
    position: absolute;
    content: '';
    width: 961px;
    height: 600px;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 20px;
    left: 35px;
    top: 35px;
}
.content-principal .content-text {
    text-align: left;
}
.content-principal .content-text h1{
    margin-right: 210px;
    margin-bottom: 25px;
    max-width: 707px;
    width: 100%;
    height: 124px;
    font-size: 2.875rem;
    font-family: var(--font-titulo);
    line-height: 62px;
    color: var(--color-titulo);
}
.content-principal .content-text p{
    font-family: var(--font-texto);
    color: #000;
    max-width: 611px;
    width: 100%;
    height: 62px;
    font-size: 1.5rem;
}
.content-principal .content-inputs{
    max-width: 755px;
    width: 100%;
    display: flex;
}
.content-principal .content-inputs input[type="text"]{
    width: 573px;
    height: 81px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 14px;
    border-radius: 5px;
    background-color: var(--color-inputT);
    border-style: initial;
    border: 1px solid #B3B8D8;
    padding:  25px 0 25px 30px;
    font-family: var(--font-texto);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;

color: #000000;
}
.content-principal .content-inputs button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 81px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 5px;
    background-color: var(--color-titulo);
    border: 1px #151A46;
    color: var(--second-color);
    font-family: var(--font-texto);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
}
.content-principal .content-inputs button span img{
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.content-comun-s h2{
    width: 153px;
    height: 23px;
    font-family: var(--font-texto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23,4px;
    color: #000;
}
.content-comun-s ul{
    width: 551px;
    height: 63px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 25px;
}
.content-comun-s ul li{
    list-style: none;
}
.content-comun-s ul li a{
    text-decoration: none;
    font-family: var(--font-texto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24.4px;
}
#blog{
   background-color:  #FFEDF3;
   color: #D0678A;
   padding: 20px 30px;
   margin-right: 10px;
}
#business{
   background-color:  #F4EDFF;
   color: #805BBC;
   padding: 20px 30px;
   margin-right: 10px;

}
#portfolio{
    background-color: #DFF4D7;
    color: #51933E;
    padding: 20px 30px;
    margin-right: 10px;

}
#ecommerce{
    background-color: #FFECDA;
    color: #E27F23;
    padding: 20px 30px;
}